.customize-control-title {
	margin-top: 15px;
	color: rgb(0, 142, 214);
}
.shop_isle_repeater_container, .shop_isle_general_control_repeater_container {
	width: 100%;
	float: left;
	padding: 5px 0;
	cursor:move;
}
.shop_isle_repeater_container label, .shop_isle_general_control_repeater_container label {
	padding: 5px;
	border: 1px solid #dfdfdf;
	border-top:0px;
	padding-top: 0px;
}
button.shop_isle_remove_field {
	display: inline-block;
	width: 25% !important;
	height: 57px !important;
	white-space: initial !important;
	line-height: 17px !important;
	float: right;
}

button.shop_isle_general_control_remove_field {
	width: 100%;
	margin-top: 10px!important;

}

button.shop_isle_general_control_remove_field:hover{
	background-color:#00a0d2!important;
	color:#FFFFFF!important;
	border: 0;
}


.shop_isle_repeater_container .shop_isle_icon_link,  .shop_isle_general_control_repeater_container .shop_isle_text_control, .shop_isle_general_control_repeater_container .shop_isle_link_control{
	width: 100% !important;
	margin: 3px 0 0 !important;
}
.shop_isle_repeater_container .shop_isle_icons, .shop_isle_general_control_repeater_container .shop_isle_icon_control {
	width: 100%;
	margin: 0;
	padding: 0;
}
#shop_isle_new_field, #shop_isle_general_control_new_field {
	width: 100%;
}
.customize-control-widget_form .widget-control-save {
	display:block !important;
}



.shop_isle_our_services_image_control{
	display:none;
}

.shop_isle_our_services_icon_control{
	display:none;
}

.shop_isle_general_control_repeater_container label{
	display: none;
}

.shop-isle-customize-control-title{
	border: 1px solid #dfdfdf;
	cursor: move !important;
	font-weight: bold;
	padding: 0 10px !important;
	height: 40px;
	line-height: 40px !important;
	background-color: #f1f1f1;
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align: center;
	color:#00a0d2;
}

.shop_isle_image_control .custom_media_button_shop_isle{
	margin-top: 5px;
}

#customize-control-shop_isle_contact_form_shortcode{
	display:none;
}

.shop-isle-upgrade-to-pro-button {
	padding: 3px 6px !important;
	line-height: 1.5 !important;
	font-size: 9px !important;
	color: #ffffff !important;
	background-color: #EA6F60;
	letter-spacing: 1px;
	text-transform: uppercase;
}
